[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==6.2.4"
pytest-django = "==4.4.0"
celery = "==4.4.7"
redis = "==3.5.3"
Django = "==3.2.4"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
